body {
	margin:0;
	padding:0;
}

/*menu*/
.menu {
	padding-top: 20px;
	list-style: none;
}
.menu li a {
	text-decoration: none;
	position:relative;
}
.menu li {
	display: inline;
	padding: 0 10px 0 10px;
}
.menu li a:link {
	color:#000;
	position: relative;
}
.menu li a:visited {
	
}
.menu li a:hover {
	color:#000;
	 
}
.menu li a:active {
	
}
.menu li a:after {
	content:'';
	position: absolute;
	bottom:0;
	left:0;
	width:0%;
	border-bottom:2px solid #000;
	transition: 0.4s;
}
.menu li a:hover:after {
	width:100%;
}

/*hero content*/

.hero-title {
	font-family: 'Amatic SC', cursive;
	font-style: 'Amatic SC';
	text-align: center;
}
.hero-img {
	text-align: center;
}
.motto  {
	font-family: 'Amatic SC', cursive;
	text-align: center;
}

/*Produse*/

.produse {
	text-align:center;
}
.produse .nume_prod {
	font-family: 'Amatic SC', cursive;
}
.titlu_prod {
	text-align: center;
	font-family: 'Amatic SC';
}
.descriere_prod {
	text-align: center;
}

/*contact form*/

.contact_form h1 {
	font-family: 'Amatic SC';
	text-align: center;
}
#contactForm {
	text-align: center;
}