body {
	margin:0;
	padding:0;
}

/*menu*/
.menu {
	padding-top: 20px;
	list-style: none;
}
.menu li a {
	padding-bottom: 0.2em;
	text-decoration: none;
	position:relative;
	color:black;
	font-size: 1.2em;
	font-weight: 400;
}
.menu li {
	display: inline;
	padding: 0 10px 0 10px;
}
.menu li a:link {
	color:#000;
	position: relative;
}
.menu li a:visited {
	
}
.menu li a:hover {
	color:#000;
	 
}
.menu li a:active {
	color:#000;
}
.menu li a:after {
	content:'';
	position: absolute;
	bottom:0;
	left:0;
	width:0%;
	border-bottom:2px solid #000;
	transition: 0.4s;
}
.menu li a:hover:after {
	width:100%;
}

/*hero content*/

.hero-title {
	font-family: 'Amatic SC', cursive;
	font-style: 'Amatic SC';
	text-align: center;
	color:white;
	font-size: 6em;
	padding-top:3%;
}
.hero-img {
	background-image: url("assets/coverBrazi.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    max-width:100%;
    height:60vh;
	text-align: center;
}
.motto {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size:3em;
	color:white;
	padding-top: .5em;
	padding-bottom: .5em;
}
.hero-img .btn {
	display:inline-block;
	background-color: transparent;
	border:2px solid white;
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	max-width:6em;
	transition:0.4s;
	border-radius: 0;
	color:white;
	cursor: pointer;
}
.hero-img .btn:hover {
	background-color: white;
	color:black;
	transition:0.4s;
}
.heri-img .btn:active {
	outline: none;
}
.hero-img .btn a {
	text-decoration:none;
	color:white;
}
.hero-img .btn a:hover {
	color:black;
}
/*Produse*/

.produse {
	text-align:center;
}
.titlu_prod {
	position: absolute;
}
.pseudo_border {
	position:relative;
	display: inline-block;
}
.pseudo_border:after {
	content:'';
    position:absolute;
    left:0; right:0;
    top:100%;
    margin:10px auto;
    width:30%;
    height:6px;
    background:#9f9645;
}
.produse .nume_prod {
	font-family: 'Amatic SC', cursive;
}
.titlu_prod {
	text-align: center;
	font-family: 'Amatic SC';
}
.descriere_prod {
	text-align: center;
	padding-top: 1em;
}
.produs img {
	max-width:100%;
}
.produs .btn_det {
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	color: black;
	border: 2px solid #9f9645;
	transition:0.4s;
}
.produs .btn_det:hover {
	background-color: #9f9645;
	color:white;
	transition:0.4s;
}
.pret {
	font-family: 'Raleway', sans-serif;
}
.produse .btn_det:active {
	outline: none;
}
.produse .btn {
	display:inline-block;
	background-color: transparent;
	border:2px solid #9f9645;
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	max-width:6em;
	transition:0.4s;
	border-radius: 0;
	color:#9f9645;
	cursor: pointer;
}
.produse .btn:hover {
	background-color: #9f9645;
	color:white;
	transition:0.4s;
}
.produse .btn a {
	text-decoration:none;
	color:#9f9645;
}
.produse .btn a:hover {
	color:white;
}
.produse .btn:active {
	outline:none;
}
/*contact form*/

.contact_form h1 {
	font-family: 'Amatic SC';
	text-align: center;
}
#contactForm {
	text-align: center;
}